$black: #000;
$white: #fff;

$font: Alegreya, serif;
$smallcaps: "Alegreya SC", $font;

$regular: 400;
$bold: 700;

.unmargin {
	margin: 0;
}

.unpad {
	padding: 0;
}

.unlist {
	@extend .unmargin;
	@extend .unpad;

	list-style: none;
}

.smallcaps {
	font-family: $smallcaps;
	text-transform: lowercase;
}